@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
	--font-family-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;

	--color-sblack: #121212;
	--color-sblack-100: #282828;
	--color-sblack-200: #1f1f1f;
	--color-sblack-300: #181818;
	--color-sgray-100: #b3b3b3;
	--color-sgreen-100: #1fdf64;
	--color-sgreen-200: #1ed760;
}

body {
	font-family: var(--font-family-sans);
}
